*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Fira Sans';
    font-style: normal;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
//--------------------Header style--------------------
.header{
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(132, 34, 49, 0.8);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav{
    &__contacts{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }

    &__phone-number{
        display: flex;
        align-items: center;
        border: 1px solid #DBA069;
        padding: 10px 20px 10px 20px;

        img{
            margin-right: 10px;
        }

        a{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            transition: .2s ease-in-out;

            &:hover{
                color: lightblue;
            }
        }
    }

    &__about-link{
        display: flex;
        gap: 50px;
        margin-top: 20px;

        a{
            padding-bottom: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            transition: .2s ease-in-out;

            &:hover{
                border-bottom: 1px solid #DBA069;
            }
        }
    }
}
//--------------------End Header style--------------------

//--------------------Main style--------------------

// Intro section
.intro-section{
    width: 100%;
    height: 100vh;
    z-index: -5;

    .intro-section__information{
        position: absolute;
        top: 40%;
    }

    &__img img{
        position: absolute;
        top: 0;
        z-index: -5;
        width: 100%;
        height: 100vh;
    }
}

.information{
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-between;

    &__title, &__button button{
        font-weight: 700;
        line-height: 140%;
    }

    &__title{
        margin-bottom: 20px;
        font-size: 38px;
        color: #FFFFFF;
    }

    &__button button{
        padding: 20px 30px 20px 30px;
        background-color: #DBA069;
        border: 1px solid #DBA069;
        color: #333333;
        font-size: 18px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover{
            transform: scale(1.2);
            background-color: rgba(132, 34, 49);
            border: 1px solid rgba(132, 34, 49);
            color: white;
        }
        
    }
}

.information-status{
    margin-top: 40px;

    &__number-cottage{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;  
        color: #FFFFFF;
    }
}

.type-cotedge{
    display: flex;

    &__information{
        margin-top: 20px;
        display: flex;
        margin-right: 26px;
    }

    &__number{
        font-weight: 400;
        font-size: 128px;
        line-height: 83.7%;
        color: #FFFFFF;
    }

    &__about{
        max-width: 116px;
        margin-left: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
    }
}

.information-about-cotedge{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__text{
        max-width: 296px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
}

// About section
.about-section{
    padding: 9% 9% 51px 9%;
    display: flex;
    justify-content: space-between;
    position: relative;


    &__bg-img img{
        position: absolute;
        z-index: -3;
        top: 10%;
        left: 20%;
    }
}

.paragraph-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.paragraph-text{
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    color: #333333;
}

.about-intro{
    &__title{
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #333333;
    }

    &__text{
        margin-bottom: 30px;
    }

    &__text, &__list-item{
        font-weight: 300;
        font-size: 20px;
        line-height: 110%;
        color: #333333;
    }

    &__list{
        margin-bottom: 60px;
    }

    &__list-item_strong{
        font-weight: bolder;
    }
}

.about-company{
    max-width: 617px;
    margin-bottom: 60px;
}

.mission-block{
    max-width: 646px;
}

.about-section__img{
    margin-top: 35px;
    margin-bottom: 10.6%;
}

.goal-section__text{
    max-width: 429px;
}

// Cottadge section
.cottage-section{
    background-color: rgba(132, 34, 49, 0.05);

    &__title{
        margin-left: 9%;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #333333;
    }
}

.img-carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39px 40px 44px 40px;

    &__nav-element{
        cursor: pointer;
        transition: .2s ease-in-out;
        border-radius: 40px;
        width: 52px;
        height: 52px;

        &:hover{
            transform: scale(1.1);
            border: 1px solid orange;
        }
    }

    &__img-cottage-box{
        position: relative;
    }

    &__grid-element{
        position: absolute;
        z-index: -5;
        top: 68px;
        right: 30%;
    }

    &__number{
        margin-left: 68px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 140%;
        color: #333333;
    }


}

