* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans";
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(132, 34, 49, 0.8);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.nav__phone-number {
  display: flex;
  align-items: center;
  border: 1px solid #DBA069;
  padding: 10px 20px 10px 20px;
}
.nav__phone-number img {
  margin-right: 10px;
}
.nav__phone-number a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  transition: 0.2s ease-in-out;
}
.nav__phone-number a:hover {
  color: lightblue;
}
.nav__about-link {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
.nav__about-link a {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: 0.2s ease-in-out;
}
.nav__about-link a:hover {
  border-bottom: 1px solid #DBA069;
}

.intro-section {
  width: 100%;
  height: 100vh;
  z-index: -5;
}
.intro-section .intro-section__information {
  position: absolute;
  top: 40%;
}
.intro-section__img img {
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100vh;
}

.information {
  width: 100%;
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  justify-content: space-between;
}
.information__title, .information__button button {
  font-weight: 700;
  line-height: 140%;
}
.information__title {
  margin-bottom: 20px;
  font-size: 38px;
  color: #FFFFFF;
}
.information__button button {
  padding: 20px 30px 20px 30px;
  background-color: #DBA069;
  border: 1px solid #DBA069;
  color: #333333;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.information__button button:hover {
  transform: scale(1.2);
  background-color: rgb(132, 34, 49);
  border: 1px solid rgb(132, 34, 49);
  color: white;
}

.information-status {
  margin-top: 40px;
}
.information-status__number-cottage {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.type-cotedge {
  display: flex;
}
.type-cotedge__information {
  margin-top: 20px;
  display: flex;
  margin-right: 26px;
}
.type-cotedge__number {
  font-weight: 400;
  font-size: 128px;
  line-height: 83.7%;
  color: #FFFFFF;
}
.type-cotedge__about {
  max-width: 116px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

.information-about-cotedge {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.information-about-cotedge__text {
  max-width: 296px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.about-section {
  padding: 9% 9% 51px 9%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about-section__bg-img {
  max-width: 1375px;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -3;
  left: 9%;
}
.about-section__bg-img img {
  width: 100%;
  object-fit: contain;
}

.paragraph-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.paragraph-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: #333333;
}

.about-intro__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}
.about-intro__text {
  margin-bottom: 30px;
}
.about-intro__text, .about-intro__list-item {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: #333333;
}
.about-intro__list {
  margin-bottom: 60px;
}
.about-intro__list-item_strong {
  font-weight: bolder;
}

.about-company {
  max-width: 617px;
  margin-bottom: 60px;
}

.mission-block {
  max-width: 646px;
}

.about-section__img {
  margin-top: 35px;
  margin-bottom: 10.6%;
}

.goal-section__text {
  max-width: 429px;
}

.cottage-section {
  background-color: rgba(132, 34, 49, 0.05);
}
.cottage-section__title {
  margin-left: 9%;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}

.img-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 39px 40px 44px 40px;
}
.img-carousel__nav-element {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 40px;
  width: 52px;
  height: 52px;
}
.img-carousel__nav-element:hover {
  transform: scale(1.1);
  border: 1px solid orange;
}
.img-carousel__img-cottage-box {
  position: relative;
}
.img-carousel__grid-element {
  position: absolute;
  z-index: -5;
  top: 68px;
  right: 30%;
}
.img-carousel__number {
  margin-left: 68px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #333333;
}

/*# sourceMappingURL=style.css.map */
